<div class="center hero-unit">
  <h1>Perforchestor</h1>

  <h2>
    Welcome, This is the home page for the Perfochestor! Performance application.
  </h2>

  
</div>

<%= link_to "The Results page", results_path %>
